.header{
    padding: 1em;
}
.header__titulo{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    color: var(--color-gris700);
}

.header__titulo--degradado {
    background: linear-gradient(90deg, var(--color-verde-ligero) , var(--color-azul-ligero));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

/* xs */
@media (min-width: 475px){
    .header__titulo{
        font-size: 65px;
    }
}

/* sm */
@media (min-width: 640px){
    .header__titulo{
        font-size: 70px;
    }
}


/* md */
@media (min-width: 768px){
    .header__titulo{
        font-size: 75px;
    }
}

/* lg */
/* @media (min-width: 1024px){
} */

/* xl */
/* @media (min-width: 1280px){
} */

/* 2xl */
/* @media (min-width: 1536px){
} */